	
		<div class="ui inverted pageContentWrapper">
    		<div class="ui container">
				<p class="item">BlogChain &copy; All Rights Reserved.</p>
				<p class="item">Contact Us: gvipul294@gmail.com</p>
				<p class="item">Twitter handle: gvipul_294</p>
			</div>
		</div>
	</body>
</html>