<% include ./partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header">Login</div>
	<form class="ui form" action="/blogs/preview" method="GET">
		<div class="field">
			<label>Email ID</label>
			<input type="email" name="loginMod[email]" placeholder="Enter Email ID">
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="loginMod[psswrd]" placeholder="Enter Password">
		</div>
		
		<button class="ui blue big basic button">Login</button>
	</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% include ./partials/footer %>