<% include ./partials/header %>
<div class="ui main text container segment">
	<div class="ui huge header">Register</div>
	<form class="ui form" action="/blogs/register" method="POST">
		<div class="field">
			<label>Email ID</label>
			<input type="email" name="regMod[email]" placeholder="Enter Email ID">
		</div>
		<div class="field">
			<label>Password</label>
			<input type="password" name="regMod[psswrd]" placeholder="Enter Password">
		</div>
		
		<button class="ui red big basic button">Register</button>
	</form>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<% include ./partials/footer %>